* {
  padding: 0;
  margin: 0;
  background: rgba(50, 50, 60);
  color: white;
  font-weight: normal;
}

body {
  margin: 20px 0 20px 0;
  text-align: center;
  min-height: 2vh;
}

a {
  font-family: Comic Sans MS;
  background-color: rgba(80, 80, 120);
  color: rgba(150, 150, 250);
  padding: 4px 8px;
  border-radius: 8px;
}

a:visited {
  background-color: rgba(80, 120, 80);
  color: rgba(150, 250, 150);
}

.video {
  z-index: 1;
}

video {
  z-index: 1;
  max-width: 400px;
  box-shadow: 0px -5px 20px 80px rgba(50, 50, 60);
  border: 2px solid rgb(80, 80, 120);
  border-radius: 100px;
}

h2 {
  font-family: Arial;
  margin: 24px 8px 30px 8px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

h3 {
  font-family: Verdana;
  text-align: center;
  margin: 18px 8px 24px 8px;
}

p {
  font-family: Arial;
  line-height: 5vh;
  display: inline;
}

.green_dot,
.red_dot {
  margin: 8px 8px;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(80, 180, 130);
  padding: 8px;
  border: 2px solid white;
  border-radius: 16px;
  position: relative;
}

.red_dot {
  background-color: rgba(200, 80, 100);
}

.home {
  margin-top: 20px;
  width: auto;
  height: auto;
  text-align: center;
}
